#root {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  height: 100svh;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.modal {
  background-color: #8c2c43;
}

.table {
  box-shadow: 2px 2px 4px #000000;
}

div {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.MuiChartsAxis-label {
  fill: white !important;
}

.MuiChartsAxis-tickLabel {
  fill: white !important;
}

.MuiChartsAxis-line {
  stroke: white !important;
}

.MuiChartsAxis-tick {
  stroke: white !important;
}
